In [8]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

data = pd.read_csv("Loan_Repayment_Training_Data.csv")
data.head(10)

,Age,Annual Income (LPA),Borrowed Amount (LPA),Credit Score,Loan Tenure (months),Employment Status,Existing Loans,Marital Status,Education Level,Repayment Probability
0,59,9.44,4.22,787,89,Self-Employed,1,Married,Graduate,0.179
1,49,1.00,1.18,656,163,Self-Employed,0,Married,Graduate,0.199
2,35,4.48,4.38,561,67,Salaried,0,Married,Graduate,0.111
3,63,15.81,1.98,658,61,Salaried,1,Married,High School,0.262
4,28,25.73,24.49,741,112,Salaried,1,Married,Post-Graduate,0.043
5,41,11.22,8.84,759,14,Self-Employed,3,Married,Graduate,0.082
6,59,14.62,5.47,835,34,Salaried,1,Married,Graduate,0.246
7,39,19.62,29.31,590,173,Self-Employed,0,Married,Graduate,0.010
8,43,5.51,7.47,656,20,Self-Employed,1,Married,Graduate,0.190
9,31,14.93,7.61,582,93,Self-Employed,3,Single,Post-Graduate,0.146

In [9]:
# Import dependent(y) and Independent(X) variable
X = data.drop("Repayment Probability", axis=1)
y = data["Repayment Probability"]

categorical_cols = ["Employment Status", "Marital Status", "Education Level"]

X = pd.get_dummies(X, columns=categorical_cols)

X.head(20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Model Generation and Training
model = LinearRegression()
model.fit(X_train, y_train)

# Test Prediction
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)

print(mse)

0.002392217495430015

In [10]:
# Load the new data
new_data = pd.read_csv("Loan_Repayment_Test_Data_NoLabel.csv")
categorical_cols = ["Employment Status", "Marital Status", "Education Level"]
new_data = pd.get_dummies(new_data, columns=categorical_cols)
# new_data.head(20)

new_data["Prediction %"] = (model.predict(new_data)*100).round(2)
new_data.head(20)

,Age,Annual Income (LPA),Borrowed Amount (LPA),Credit Score,Loan Tenure (months),Existing Loans,Employment Status_Salaried,Employment Status_Self-Employed,Employment Status_Unemployed,Marital Status_Married,Marital Status_Single,Education Level_Graduate,Education Level_High School,Education Level_Post-Graduate,Prediction %
0,35,5.56,7.84,647,221,2,True,False,False,True,False,True,False,False,9.10
1,47,16.97,14.23,856,39,2,False,True,False,False,True,True,False,False,23.36
2,25,8.77,5.36,596,30,1,True,False,False,True,False,False,False,True,13.41
3,22,9.64,10.40,618,128,2,True,False,False,False,True,False,False,True,9.68
4,58,13.50,14.40,765,239,0,True,False,False,True,False,True,False,False,15.80
5,51,27.69,34.41,731,120,2,True,False,False,True,False,True,False,False,9.50
6,62,18.68,26.27,713,205,1,True,False,False,True,False,True,False,False,8.90
7,60,6.63,3.84,727,231,2,True,False,False,True,False,False,False,True,15.39
8,50,1.97,1.00,642,50,1,True,False,False,True,False,False,False,True,15.13
9,65,14.59,19.96,593,26,4,False,True,False,True,False,True,False,False,5.25
10,59,7.31,2.61,856,118,1,True,False,False,True,False,True,False,False,25.24
11,39,10.16,6.05,586,49,2,True,False,False,True,False,True,False,False,11.56
12,24,10.53,7.27,501,137,0,False,True,False,False,True,True,False,False,7.09
13,47,11.11,14.48,627,191,1,True,False,False,True,False,True,False,False,8.13
14,29,10.28,9.44,780,220,1,True,False,False,False,True,False,False,True,17.59
15,49,8.17,7.66,498,240,0,False,True,False,False,True,True,False,False,4.09
16,27,1.00,1.18,615,225,1,False,False,True,True,False,True,False,False,10.18
17,62,13.49,20.20,790,90,0,False,False,True,False,True,False,False,True,17.20
18,25,16.95,24.58,573,52,0,False,True,False,False,True,False,False,True,6.13
19,51,4.46,1.26,718,87,0,False,False,True,True,False,True,False,False,19.70