In [1]:
# Import Libraries

import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Load Dataset
data = pd.read_csv("Linear-Regression-_Training-Data_-.csv")
data.head(20)

    Purchase hybrid vehicle  Age  Education  Income  Vehicle Ownership
0                         0    4          2       4                  1
1                         0    1          2       9                  1
2                         0    1          3       7                  2
3                         1    3          4      12                  4
4                         0    2          3       7                  2
5                         0    1          2       7                  2
6                         0    2          3       9                  1
7                         0    1          1       6                  1
8                         0    1          2       5                  2
9                         0    1          2       7                  2
10                        0    2          1       7                  1
11                        0    2          2       5                  2
12                        0    2          3       5                  1
13                        1    2          2      10                  3
14                        0    1          3       7                  2
15                        0    1          4       7                  1
16                        0    1          1       9                  1
17                        0    2          4       5                  1
18                        0    1          3       7                  1
19                        0    2          2       2                  1

In [6]:
# Define Independent(X) & Dependent(y) Variable
X = data[["Age", "Education", "Income", "Vehicle Ownership"]]
y = data["Purchase hybrid vehicle"]

# Train-Test Split (80:20)
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Train the Model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on test_data
y_pred = model.predict(X_test)

# Evaluate by comparing y_pred with y_test
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error: ", mse)

Mean Squared Error:  0.10403927960458988

In [10]:
# Load the new data
new_data = pd.read_csv("Linear-Regression-Python-_Test-data_.csv")
# new_data.head(20)

new_data["Prediction %"] = (model.predict(new_data)*100).round(2)
new_data.head(20)

    Age  Education  Income  Vehicle Ownership  Prediction %
0     3          2       8                  2         48.78
1     4          4      12                  3        110.43
2     2          3      10                  1         51.43
3     5          5      15                  4        159.40
4     1          2       5                  1         -3.10
5     3          3       9                  2         61.45
6     2          1       6                  1          8.56
7     4          3      11                  3         97.75
8     3          2       8                  2         48.78
9     5          4      13                  4        137.96
10    2          3       7                  2         37.12
11    1          1       4                  1        -15.78
12    3          2       9                  2         57.53
13    4          4      12                  3        110.43
14    5          3      11                  4        116.53
15    2          2       6                  2         24.44
16    1          3       7                  1         18.34
17    4          2      10                  3         85.07
18    3          4      12                  2         91.65
19    5          5      14                  4        150.64

In [12]:
new_data.to_csv("Car Purchase.csv", index=False)