In [7]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

data = pd.read_csv("House_Price_Training_Data.csv")
# data.head(20)

categorical_cols = ["Furnishing_Status", "Locality_Category"]

X = data.drop("Price_Lakhs", axis=1)
y = data["Price_Lakhs"]
X = pd.get_dummies(X, columns=categorical_cols)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# X.head(20)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("Mean Square Value: ", mse)

Mean Square Value:  119.16920582098608

In [8]:
new_data = pd.read_csv("House_Price_NewData.csv")
new_data_enc = pd.get_dummies(new_data, columns=categorical_cols)
y_pred = model.predict(new_data_enc)
new_data["Price_Lakhs"] = y_pred
new_data.head(20)

,House_Age,Area_sqft,No_of_Bedrooms,No_of_Bathrooms,Distance_from_CityCenter_km,Crime_Rate_Index,Nearby_Schools,Furnishing_Status,Locality_Category,Parking_Space,Price_Lakhs
0,10,1800,3,2,8.5,4.3,4,Furnished,Premium,2,199.831250
1,35,3200,5,4,15.2,7.1,3,Unfurnished,Economy,1,203.232251
2,5,950,2,1,3.1,2.0,5,Semi-Furnished,Standard,0,112.219337